body {
  color: #343a40;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.gap-setting {
  padding-top: 100px;
  min-height: calc(100vh - 100px);
}

.link-line:hover {
  box-shadow: inset 0 -8px 0px #EEDEA6;
  text-decoration: none;
}