body {
  color: #343a40;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.gap-setting {
  padding-top: 100px;
  min-height: calc(100vh - 100px);
}

.link-line:hover {
  box-shadow: inset 0 -8px 0px #EEDEA6;
  text-decoration: none;
}

.f-size75 {
  font-size: 0.75rem;
}

.cursor-pointer {
  cursor: pointer;
}

.f-size125 {
  font-size: 1.25rem;
}

@media (max-width:767px) {
  .md-dis-none {
    display: none;
  }
}

.btn-submit {
  background-color: #D1A813;
  border: 3px solid #D1A813;
  text-align: center;
  color: #fff;

  &:hover {
    background-color: #B69418;
    border: 3px solid #B69418;
    text-decoration: none;
    color: #fff;
  }
}

.btn-back {
  background-color: #efe5dc;
  border: 3px solid #efe5dc;
  text-align: center;
  color: #343a40;

  &:hover {
    background-color: #EEDEA6;
    border: 3px solid #EEDEA6;
    text-decoration: none;
    color: #343a40;
  }
}